* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #FAFAFA;
}
.b {
  border: 1.5px solid red;
}
a {
  text-decoration: none;
  color: inherit;
}




header {
  width: 100%;
  height: 54px;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}
.header-box {
  max-width: 935px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box a {
  font-family: 'Grand Hotel',cursive;
  font-size: 30px;
}

.header-box input{
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  padding:5px 10px;
  outline: none;
}
.header-box input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.header-btns {
  display: flex;
  align-items:center;
}

.header-box button {
  background: transparent;
  border: none;
  height: 25px;
  margin: 0 10px;
}
.header-box a {
  margin: 0 10px;
}
.header-box img {
  height: 25px;
}
#profile-btn {
  border-radius: 13px;
}
















.main {
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.main-1 {
  flex:0 1 65%;
}
.main-2 {
  flex:0 0 35%;
}


.stories-container {
  width: 100%;
  background-color: white;
  border: 1px solid #EAEAEA;
  padding: 16px 0;
  padding-left: 16px;
  display: flex;
  overflow: auto;
  margin-bottom: 20px;
}
.story {
  flex:0 0 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.story img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-bottom: 6px;
}
.story p {
  font-size: 12px;
}










.post-container {
  background-color: white;
  border: 1px solid #EAEAEA;
}
