.main {
	display: block;
}

section.profile {
	display: flex;
}

.profile-img-container {
	flex: 1;
}

.profile-info-container {
	flex: 2;
}

.profile-img-container > img {
	margin: 0 auto;
	display: block;

	border-radius: 50%;
}

.profile-info-container > div {
	display: flex;
	gap: 30px;

	margin-bottom: 30px;
	align-items: center;
}

.profile-info-container > div.row-3 {
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.row-1 > h4 {
	font-size: 28px;
	font-weight: 300;
}

.row-1 > button {
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 10px;
}

.row-2 {
	font-size: 28px;
}

.row-2 > h6 {
	font-weight: 400;
}

.row-2 span {
	font-weight: 600;
}

.posts {
	margin-top: 120px;
}

.posts > .post-navbar {
	margin-top: 20px;
	margin-bottom: 20px;

	display: flex;
	justify-content: center;
	gap: 50px;

	border-top: 1px solid #d1d1d1;
}

.post-navbar span {
	text-transform: uppercase;
	color: #7a7a7a;

	padding-top: 15px;
}

span.active-nav-btn {
	color: black;
	border-top: 1px solid black;
}

.img-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.img-wrapper > img {
	width: 100%;
}
